@font-face {
  
    font-family: Arial;
    src: url(sourcesanspro-black-webfont.ttf);
 
    font-weight: bold;
    font-style: bold;

}


}


td:hover {
  background-color: #fff600;
  color: #000000;
   -webkit-filter: grayscale(100%);


/* ==========================================================================
    Global Style starts here
   ========================================================================== */
	body{ background: url(https://github.com/sdsc/itss-rehs-2017/blob/master/html-background-image-HD1-1.jpg?raw=true) repeat; margin-top: 100px;  margin-bottom: 50px;  color: #9d9d9d;}
	h1, h2, h3, h4, h5, h6{margin: 0;}
	h1{font-size: 24px; line-height: 30px; color: #716a72; }
	h2{font-size: }
	h3{}
	h4{}
	h5{}
	h6{}
	p{font-size: 15px; color: #9d9d9d; line-height: 24px; padding-bottom: 25px; font-family: 'source_sans_proregular'; margin-bottom: 0;}
	
 

/* ==========================================================================
    Menu styles stars here
   ========================================================================== */
	.site-header{text-align: center; padding-top: 65px; background: #fafafa; border-radius: 3px 3px 0 0;}
	.logo{display: inline-block;}
	.logo h1{font-size: 50px; line-height: 52px; color: #716a72; text-transform: uppercase; border-bottom: 1px solid #eaeaea;
			 padding-bottom: 10px;  font-family: 'source_sans_problack'; letter-spacing: 7px;}
	

.banner  .carousel-control:hover{background: #c0604f; color: #fff;border:none;}
.banner .carousel-control.right {
right: 30px;
left: auto;
}


/* ==========================================================================
    General styles stars here
   ========================================================================== */
	
	
	.tabs{background: #fafafa; padding: 55px 30px;}
  .tabs .ruler-bottom{border-bottom: none;}
    
/* ==========================================================================
    Footer styles stars here
   ========================================================================== */


.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: grayscale(100%);
}


